.footer__column-link {
    color: white;
    text-decoration: none;
    line-height: 18px;
    font-size: 20px;
    font-weight: normal;
    transition: 500ms;
}

  .footer__column-link:hover {
    opacity: 0.5;
  }